---
description: Data Analyst
summary: I am a Data Analyst with a strong foundation in both Data Science and Healthcare.
skills: Python, SQL, Power BI, R programming, MongoDB, and Java
permalink: /
visible: false
---

<div class="hyde jumbotron main">
  <div class="hyde container">
    <h1>{{ site.description }}</h1>
    <h2 class="hyde main-desc">{{ page.description }}</h2>
    <a href="{{ site.baseurl }}/about" class="hyde btn btn-light">start exploring</a>
  </div>

  <<div class="hyde content about">
    <h2 class="name-title">Lauren <small class="job-title">Data Analyst</small></h2>
    
    <p class="about-text">
      I am a Data Analyst with a strong foundation in both Data Science and Healthcare.
      I specialize in Python, SQL, Power BI, R programming, and Java.
      I have worked on projects involving natural language processing (NLP) to develop data-driven solutions.
    </p>
  
    <div class="feedback-box">
      <h2 class="feedback-title">📢 Feedback from colleagues</h2>
      <div class="hyde tags skills">
        <span class="hyde tag">Quick and efficient</span>
        <span class="hyde tag">Embraces mistakes as learning</span>
        <span class="hyde tag">Takes feedback positively</span>
        <span class="hyde tag">Team player</span>
      </div>
    </div>
  </div>

    <div class="hyde posts">
      {% assign sorted = site.projects | sort: 'date' | reverse %} {% for project in sorted %}
      <div class="hyde post{% unless forloop.last %} divider{% endunless %}">
        <a href="{{ site.baseurl }}{{ project.url }}">
          <div class="hyde post-thumbnail-wrapper">
            {% if project.image %}
            <div class="hyde post-thumbnail" style="background-image: url('{{ site.baseurl }}/assets/images/projects/{{ project.image }}');"></div>
            {% elsif project.youtube %}
            <div
              class="hyde post-thumbnail"
              style="background-image: url('{{ project.youtube | prepend: 'https://img.youtube.com/vi/' }}/maxresdefault.jpg')"
            ></div>
            {% else %}
            <div class="hyde post-thumbnail"></div>
            {% endif %}
          </div>
        </a>
        <a href="{{ site.baseurl }}{{ project.url }}">
          <h2 class="hyde post-title">{{ project.title }}</h2>
        </a>
        <div class="hyde post-trail">
          <span class="hyde post-date">{{ project.date | date: '%Y년 %-m월 %-d일' }}</span>
        </div>
      </div>
      {% else %} {% include empty.html %} {% endfor %}
    </div>
</div>
